.box-inner {
    width: 70%;
    position: relative;
}

.suggestion-box .heading {
    margin: 2rem 2rem;
}

.suggestion-input {
    width: 100%;
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.6rem;
}

.dropdown {
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: white;
    margin: 0;
    padding: 0;
}

.dropdown ul {
    margin: 0rem 1rem;
    width: 100%;
    padding: 0;
}

.dropdown li {
    width: 100%;
    padding: 1rem;
    margin: 0;
    list-style: none;
    cursor: pointer;
    font-size: 1.5rem;
}